<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="row">
    <div class="cell" id="ib96"></div>
</div>
<form method="post" action="/template" class="form">
    <div class="form-group"><label class="label">url</label><input placeholder="Type here your name" name="file"
                                                                   type="text" required class="input"/></div>
    <div class="form-group">
        <button type="submit" class="button">Send</button>
    </div>
</form>
<div class="row">
    <div class="cell" id="ibm4"></div>
</div>
</body>
<html>